.app__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 6rem;
}

.app__container-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.app__container-head h1 {
    margin: 0 0 1rem 0;
}

.app__container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.app__container-cards_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width:950px) {
    .app__container-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

