@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --font-base: 'Poppins', sans-serif;

  --color-red: #DA2535;
  --color-pink: #F7C7B9;
  --color-white: #F9F9F9;
  --color-gray: #8D8D8D;
  --color-gray-200: #404040;
  --color-black: #161212;
}

*{
  box-sizing: border-box;;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a{
  color: unset;
  text-decoration: none;
}

@media screen and (max-width:1050) {
  *{
    font-size: 87%;
  }
}